<%= @inner_content %>

<%= if Enum.any?(Map.keys(@flash)) do %>
<script>
  window.onload = () => {
    <%= if Map.has_key?(@flash, "info") do %>
    UIkit.notification("<%= live_flash(@flash, :info) %>", "primary")
    <% end %>
    <%= if Map.has_key?(@flash, "error") do %>
    UIkit.notification("<%= live_flash(@flash, :error) %>", "danger")
    <% end %>
  }
</script>
<% end %>
