@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/uikit/dist/css/uikit.min.css";

.asis-navbar {
  background-color: #333355;
}

.asis-hide {
  visibility: hidden;
}

.asis-map-info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.asis-map-info h5 {
  margin: 0 0;
  color: #777;
}

.asis-map-legend {
  line-height: 18px;
  color: #555;
}
.asis-map-legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.asis-roraima-map {
  min-height: 600px;
}

.asis-roraima-empty {
  padding: 0 0 !important;
  width: 10px !important;
}

.asis-roraima-table-item {
  color: rgba(0,0,0,0.3);
}

.asis-roraima-table-item:hover {
  color: rgba(0,0,0,1.0);
}
