@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/uikit/dist/css/uikit.min.css";

.asis-navbar {
  background-color: #333355;
}

.asis-hide {
  visibility: hidden;
}

.asis-map-info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.asis-map-info h5 {
  margin: 0 0;
  color: #777;
}

.asis-map-legend {
  line-height: 18px;
  color: #555;
}
.asis-map-legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.asis-roraima-map {
  min-height: 600px;
}

.asis-roraima-empty {
  padding: 0 0 !important;
  width: 10px !important;
}

.asis-roraima-table {
  width: auto;
  margin: auto;
  font-size: 11px;
}

.asis-roraima-morbidity-table-header {
  height: 180px;
}

.asis-roraima-death-table-header {
  height: 450px;
}

.asis-roraima-table-header > div {
  width: 30px;
  white-space: nowrap;
  transform-origin: top left;
  transform: rotate(-45deg) translate(8px, 34px);
}

.asis-roraima-table-header > div > span {
  font-size: 11px !important;
  border-bottom: 1px solid #222;
}

.asis-roraima-table-item {
  border: 1px solid #222;
  font-size: 10px;
  width: 25px;
  height: 25px;
}

.asis-roraima-table-q0 {
  background-color: #CCC;
}

.asis-roraima-table-q1 {
  background-color: #87CEEB;
}

.asis-roraima-table-q2 {
  background-color: #DDDD55;
}

.asis-roraima-table-q3 {
  background-color: #FF9257;
}

.asis-roraima-label-color {
  border-radius: 25px;
}
